@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo h1 {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #f9f9f9;
}

header .logo h1 .logo_header {
  color: #873eff;
}

header nav {
  color: #F9F9F9;
  width: 40%;
}

header nav ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.01em;
}

header nav ul button {
  background-color: transparent;
  padding: 21px 30px;
  border-color: #873EFF;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #F9F9F9;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

header nav ul button:hover {
  cursor: pointer;
}

header nav ul a {
  color: #F9F9F9;
  text-decoration: none;
}

.welcome {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.welcome__inicio {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #04d361;
}

.welcome__titulo {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  color: #f9f9f9;
}

.welcome__frase {
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 170%;
  color: #AEAEAE;
}

.project {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__1 {
  min-width: 150px;
  max-width: 620px;
  width: calc(50% - 60px);
  border: 1px solid #873EFF;
  height: auto;
  background-color: #171228;
  margin: 5px;
  padding: 23px;
}

.project__1 .project__1__img {
  width: 100%;
  height: 222px;
  margin: auto;
  background-color: #0E091B;
}

.project__1 h4 {
  color: #F9F9F9;
  font-family: "IBM Plex Mono", monospace;
  margin: 20px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}

.project__1 p {
  color: #AEAEAE;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
}

.project__1 .project__1__buttons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.project__1 .project__1__buttons .btn_demo {
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 20px;
  background-color: #04D361;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.project__1 .project__1__buttons .btn_demo:hover {
  cursor: pointer;
}

.project__1 .project__1__buttons .btn_git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 20px;
  width: 165px;
  border: 1px solid #04D361;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background: transparent;
  color: #F9F9F9;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.project__1 .project__1__buttons .btn_git:hover {
  cursor: pointer;
}

.project {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__2 {
  min-width: 150px;
  max-width: 620px;
  width: calc(50% - 60px);
  border: 1px solid #873EFF;
  height: auto;
  background-color: #171228;
  margin: 5px;
  padding: 23px;
}

.project__2 .project__2__img {
  width: 100%;
  height: 222px;
  margin: auto;
  background-color: #0E091B;
}

.project__2 h4 {
  color: #F9F9F9;
  font-family: "IBM Plex Mono", monospace;
  margin: 20px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}

.project__2 p {
  color: #AEAEAE;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
}

.project__2 .project__2__buttons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.project__2 .project__2__buttons .btn_demo {
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 20px;
  background-color: #04D361;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.project__2 .project__2__buttons .btn_demo:hover {
  cursor: pointer;
}

.project__2 .project__2__buttons .btn_git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 20px;
  width: 165px;
  border: 1px solid #04D361;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background: transparent;
  color: #F9F9F9;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.project__2 .project__2__buttons .btn_git:hover {
  cursor: pointer;
}

.project {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__3 {
  min-width: 150px;
  max-width: 620px;
  width: calc(50% - 60px);
  border: 1px solid #873EFF;
  height: auto;
  background-color: #171228;
  margin: 5px;
  padding: 23px;
}

.project__3 .project__3__img {
  width: 100%;
  height: 222px;
  margin: auto;
  background-color: #0E091B;
}

.project__3 h4 {
  color: #F9F9F9;
  font-family: "IBM Plex Mono", monospace;
  margin: 20px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}

.project__3 p {
  color: #AEAEAE;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
}

.project__3 .project__3__buttons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.project__3 .project__3__buttons .btn_demo {
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 20px;
  background-color: #04D361;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.project__3 .project__3__buttons .btn_demo:hover {
  cursor: pointer;
}

.project__3 .project__3__buttons .btn_git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 20px;
  width: 165px;
  border: 1px solid #04D361;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background: transparent;
  color: #F9F9F9;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.project__3 .project__3__buttons .btn_git:hover {
  cursor: pointer;
}

.project {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__4 {
  min-width: 150px;
  max-width: 620px;
  width: calc(50% - 60px);
  border: 1px solid #873EFF;
  height: auto;
  background-color: #171228;
  margin: 5px;
  padding: 23px;
}

.project__4 .project__4__img {
  width: 100%;
  height: 222px;
  margin: auto;
  background-color: #0E091B;
}

.project__4 h4 {
  color: #F9F9F9;
  font-family: "IBM Plex Mono", monospace;
  margin: 20px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}

.project__4 p {
  color: #AEAEAE;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
}

.project__4 .project__4__buttons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.project__4 .project__4__buttons .btn_demo {
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 20px;
  background-color: #04D361;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.project__4 .project__4__buttons .btn_demo:hover {
  cursor: pointer;
}

.project__4 .project__4__buttons .btn_git {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 20px;
  width: 165px;
  border: 1px solid #04D361;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background: transparent;
  color: #F9F9F9;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.project__4 .project__4__buttons .btn_git:hover {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0E091B;
}

#wrap {
  width: 100%;
  max-width: calc(1920px - (346px * 2));
  min-width: 785px;
  margin: auto;
  padding-top: 40px;
}

footer {
  margin-top: 100px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #AEAEAE;
}
/*# sourceMappingURL=main.css.map */